/*
	1.IMPORTS
	2.DEFAULTS
	3.HEADER
    3.1.CARRO COMPRA
	4.OFERTAS
	5.PRODUCTOS
	6.FOOTER
  7.UTILS
  8.MEDIA RESPONSIVE
*/

/*------------- 1.IMPORTS -------------*/

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");

/*------------- 2.DEFAULTS -------------*/

:root {
  --red-accent: #fb3c43;
  --green-accent: #138d23;
  --grey-background: #f2f2f2;
  --light-gray: #d3d3d3;
  --bright-red: #ff0008;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Poppins";
  font-size: 14px;
  background: #fff;
}

h3 {
  font-weight: 700;
  color: var(--red-accent);
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: 0px;
}

/* Al no estar los formularios con unos request validos hacer click en 
sus controles hace que la página recarge. He añadido esta clase a los
más molestos para poder desactivar los efectos de puntero para paliarlo */

.disabled {
  pointer-events: initial;
  /* pointer-events: none; */
}

/*-------------- 3.HEADER -------------*/

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99;
}

header div {
  display: flex;
  border-bottom: 1px solid var(--light-gray);
}

.header-nav {
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 15px 20px 10px 20px;
  font-size: 9px;
}

.header-nav img {
  margin: 0 5px;
  width: 80px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list li a {
  margin-right: 12px;
  font-weight: 400;
}

.btn {
  margin: 5px;
  padding: 5px 15px;
}

.nav-list li a.btn-login {
  margin-right: 0;
  color: var(--grey-background);
  background-color: var(--red-accent);
  font-weight: 600;
}

.btn-login:hover {
  opacity: 0.5;
  transition: opacity 150ms ease-in;
}

.nav-list li a.btn-join {
  border: 1px solid #9a9a9a;
  font-weight: 600;
}

a.btn-join:hover {
  opacity: 0.5;
  transition: opacity 150ms ease-in;
}

.header-control {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 36px;
  padding: 4px 20px 4px 20px;
  font-size: 9px;
  background-color: var(--light-gray);
}

a.btn-cart {
  display: block;
  padding-bottom: 15px;
  text-decoration: none;
  font-weight: 600;
  color: var(--grey-background);
  background-color: var(--green-accent);
}

a.btn-cart:hover {
  color: var(--green-accent);
  background-color: var(--grey-background);
  border: 1px solid var(--green-accent);
}

.header-control img {
  height: 100%;
  padding: 6px 10px 6px 0;
}

.header-control form {
  display: flex;
  width: 70%;
  background-color: var(--grey-background);
}

.header-control form button {
  padding: 0 11px;
  background-color: var(--grey-background);
}

.header-control form button:hover {
  cursor: pointer;
}

.btn-close {
  border-right: 1px solid var(--light-gray);
  font-size: 2em;
  font-family: "Poppins";
  font-weight: normal;
  color: var(--light-gray);
}

.header-control form input {
  width: 100%;
  border: 0;
  padding: 0 5px;
  font-weight: 400;
  font-style: italic;
  background-color: var(--grey-background);
}

.header-control form .mag-glass {
  width: 30px;
  margin: 0 5px 0 10px;
}

.header-departs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.header-departs > a {
  margin-right: 1em;
}

.titulo-menu {
  display: none;
}

/*---------- 3.1.CARRO COMPRA ---------*/

.cesta {
  display: none;
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 1em;
  background-color: var(--green-accent);
  color: #fff;
}

.cesta table caption {
  font-weight: 600;
  font-size: 1.2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #fff;
}

.cesta table td {
  white-space: nowrap;
}

.cesta table td a {
  color: #fff;
}

.cesta table th {
  font-weight: 500;
  line-height: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #fff;
}

.cesta table td,
.cesta table th {
  padding: 10px 1em;
  text-align: right;
}

.cesta table td:first-child,
.cesta table th:first-child {
  text-align: left;
}

.cesta table tr:last-child {
  font-weight: 600;
}

.cesta .cesta-control {
  text-align: right;
}

.cesta .cesta-control button {
  background-color: var(--green-accent);
  padding: 5px 20px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
}

.cesta .cesta-control button:hover {
  cursor: pointer;
}

/*------------- 4.OFERTAS -------------*/

.contendor-ofertas {
  display: grid;
  padding: 10px 20px;
  grid-template-columns: 1fr;
  gap: 40px;
}

.oferta img {
  width: 100%;
}

.oferta-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.oferta-content p {
  font-size: 0.7em;
  color: var(--light-gray);
  line-height: 2em;
}

.oferta-content h3 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 400;
}

.oferta-content a {
  text-decoration: underline;
  line-height: 2.5em;
}

.ofertas-nav {
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr;
  gap: 10px;
}

.ofertas-nav li a {
  display: block;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
  max-width: 300px;
}

.green-nav {
  background-color: rgb(198, 225, 161);
  color: rgb(75, 106, 30);
}

.blue-nav {
  background-color: rgb(190, 222, 255);
  color: rgb(65, 101, 142);
}

.pink-nav {
  background-color: rgb(255, 205, 205);
  color: rgb(142, 85, 85);
}

/*------------ 5.PRODUCTOS ------------*/

.productos-destacados {
  display: flex;
  margin-top: 2em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 10px;
}

.producto {
  border: 1px solid var(--light-gray);
  flex-basis: 100%;
}

.producto img {
  padding: 3px;
  width: 100%;
}

.producto h4 {
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em 0;
}

.producto p {
  text-align: center;
  font-size: 2em;
  color: var(--red-accent);
}

.simbolo-euro {
  font-size: 0.5em;
  color: var(--light-gray);
}

.producto form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto form button.add-basket {
  width: 100%;
  margin: 0;
  line-height: 2.5em;
}

/* https://stackoverflow.com/questions/45396280/customizing-increment-arrows-on-input-of-type-number-using-css 
modificado para manipular los botones + - de los campos number de un formulario*/
.quantity {
  display: flex;
  justify-content: center;
  width: 160px;
}

/* Chrome, Safari, Edge, Opera */
.quantity input[type="number"]::-webkit-inner-spin-button,
.quantity input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.quantity input,
.quantity button {
  width: 1.5em;
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  background-color: #fff;
  border: none;
}

.quantity input {
  font-weight: 400;
}

/*-------------- 6.FOOTER -------------*/

footer {
  background-color: #fff;
  margin-top: 2em;
  border-top: 1px solid var(--light-gray);
  line-height: 4em;
  text-align: center;
  color: var(--light-gray);
}

.enlaces-ayuda {
  width: 100%;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.enlaces-ayuda-list {
  text-align: left;
}

.enlaces-ayuda-list h4 {
  color: #000;
}

.enlaces-ayuda-list ul {
  line-height: 2em;
}

.enlaces-ayuda-list ul a {
  color: var(--light-gray);
}

.enlaces-ayuda p.telefono {
  font-size: 1.5em;
}

.enlaces-ayuda p.telefono span {
  color: var(--green-accent);
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.social-list img {
  width: 3em;
  filter: saturate(0);
  border-radius: 50%;
  box-shadow: 0px 10px 13px -7px #000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.social-list img:hover {
  filter: saturate(100%);
  transition: all 200ms ease-in;
}

/*-------------- 7.UTILS --------------*/

.hidden {
  display: none;
}

.accent-red {
  color: var(--red-accent);
}

.dark-hover:hover {
  filter: brightness(90%);
  transition: all 150ms ease-in;
}

.red-text-hover-glow:hover {
  color: var(--bright-red);
  text-shadow: 0px 0px 5px rgba(251, 60, 67, 0.8);
  transition: color 150ms ease-in;
}

.gray-text-hover:hover {
  color: var(--light-gray);
  transition: color 150ms ease-in;
}

/*--------- 8.MEDIA RESPONSIVE --------*/

@media (max-width: 600px) {
  .abr-btn-compra {
    display: none;
  }
}

@media (max-width: 700px) {
  .enlaces-ayuda {
    flex-direction: column;
  }

  .enlaces-ayuda-list {
    text-align: center;
  }
  .header-nav .nav-list {
    display: none;
  }

  /* css para sacar la lista de departamentos con el menu hamburguesa */
  .header-departs .nav-list {
    /* falta JS para mostrarlo cuando se pulsa el menu hamburguesa */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: var(--green-accent);
    padding: 1em;
  }

  .header-departs .titulo-menu {
    display: initial;
    font-weight: 500;
    color: #fff;
    font-size: 1.2em;
    line-height: 2em;
    border-bottom: 1px solid #fff;
    margin-bottom: 1em;
  }

  .header-departs .nav-list a {
    color: #fff;
    line-height: 2em;
  }

  .ham-menu img,
  .user-icon img {
    display: block;
    width: 2em;
  }
  .accent-red {
    font-size: 2em;
    padding: 0;
  }
}

@media (min-width: 600px) {
  .ofertas-nav {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .productos-destacados {
    padding: 0;
  }
  .producto {
    flex-basis: 49%;
  }
}

@media (min-width: 700px) {
  .producto {
    flex-basis: 29%;
  }
  .contendor-ofertas {
    grid-template-columns: 1fr 1fr;
  }
  .ham-menu,
  .user-icon {
    display: none;
  }
  .header-control {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  .producto {
    flex-basis: 19%;
  }
}
